/*
FONTS AND COLORS
*/

body, *{
    font-size: 62.5%;
    font-family: "Fjord One", 'Times New Roman', Times, serif;
    margin: 0;
}

.creme{
    background-color: #f7f2e5;
}

.tan{
    background-color: #cea18b;
}

.darkPurple{
    color: #23162b;
}

.sage{
    color: #829891;
}

.coral{
    color: #d68571;
}

/*
HEADER
*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
    background-image: linear-gradient(#829891 20%, #f7f2e5);
}

header section{
    display: flex;
    flex-direction: row;
}

header img{
    width: 30%;
}

header h1{
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0 -1rem;
}

header > button{
    margin-left: -15rem;
    align-self: center;
    padding: 1rem;
    color: #fdf5e2;
    background-color: #23162b;
    border-radius: 1rem;
    font-size: 3vw;
}

nav{
    width: 5%;
    align-self: center;
}

nav img{
    width: 100%;
}

/*
POST popup
*/

.hidden {
    display: none !important; 
}

#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#popupContainer{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #829891;
    border: 1px solid #fdf5e2;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-height: 40vh;
}

#postPopupContent{
    display: flex;
    flex-direction: column;
}

#popupClose{
    align-self: flex-end;
    width: 10%;
}

#postPopupContent > h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#uploadCat{
    display: flex;
    flex-direction: column;
}

#uploadCat input, 
#popupContainer button{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: rgba(255, 179, 159, 0.5);
}

#uploadCat label{
    font-size: 1.5rem;
}

#postMessage{
    text-align: center;
    font-size: 1.5rem;
}
/*
LOADER
*/
.loader{
    display: inline;
    font-size: 10vw;
}

/*
NAVIGATION BAR
*/
/* #nav{
    position: relative;
    display: inline-block;
}
  
.dropdown {
    position: absolute;
    top: 0;
    right: 10%;
    background-color: #23162b;
    border-radius: 1rem;
    z-index: 100;
    width: 4rem;

    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.5s ease;
    pointer-events: none;
}

#nav:hover .dropdown{
    transform: scaleY(1);
    pointer-events: auto;
}

.navPage {
    list-style: none;
    padding: 1rem;
    margin-left: -4rem;
    z-index: 1000;
}

.navPage:first-of-type{
    border-radius: 1rem 1rem 0 0;
}

.navPage:last-of-type{
    border-radius: 0 0 1rem 1rem;
}

.navPage:hover{
    background-color: #829891;
}
  
.navPage a {
    text-decoration: none;
    color: #f7f2e5;
} */
/*
CAT FEED
*/
#catFeedList{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.catPost{
    display: flex;
    flex-direction: row;
    margin: 3rem;
    padding: 3rem;
    border-radius: 5%;
    box-shadow: 8px 8px 16px rgba(130,152,145, 1);
}

.catImage{
    width: 60%;
    max-width: 500px;
    aspect-ratio: auto;
    border-radius: 1rem;
}

.catContent{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.name{
    font-size: 50em;;
}

.caption{
    font-size: 30em;
}

.postedOn{
    font-size: 20em;
}

/*
FOR MOBILE
*/
@media all and (max-width: 500px){
    header{
        padding: 3rem 1rem;
        justify-content: space-around;
    }

    .name{
        font-size: 15em;
    }

    .caption{
        font-size: 12em;
    }

    .postedOn{
        font-size: 8em;
    }

    .catPost{
        padding: 1.5rem;
    }
    
    .catContent{
        margin-left: 1rem;
    }
}