/*
FONTS AND COLORS
*/

body, *{
    font-size: 62.5%;
    font-family: "Fjord One", 'Times New Roman', Times, serif;
    margin: 0;
}

.creme{
    background-color: #fdf5e2;
}

.tan{
    background-color: #cea18b;
}

.darkPurple{
    color: #23162b;
}

.sage{
    color: #829891;
}

.coral{
    color: #d68571;
}

/*
HEADER
*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
    background-image: linear-gradient(#829891 20%, #fdf5e2);
}

header section{
    display: flex;
    flex-direction: row;
}

header img{
    width: 30%;
}

header h1{
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0 -1rem;
}

header > button{
    margin-left: -15rem;
    align-self: flex-end;
    padding: 1rem;
    color: #fdf5e2;
    background-color: #23162b;
    border-radius: 1rem;
    font-size: 1.5rem;
}

nav{
    width: 5%;
    align-self: center;
}

nav img{
    width: 100%;
}

/*
POST popup
*/

#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#popupContainer{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #829891;
    border: 1px solid #fdf5e2;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 80vh;
}

#postPopupContent{
    display: flex;
    flex-direction: column;
}

#popupClose{
    align-self: flex-end;
    width: 10%;
}

#postPopupContent > h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#uploadCat{
    display: flex;
    flex-direction: column;
}

#uploadCat input{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 0px;
    background-color: rgba(255, 179, 159, 0.5);
}

#uploadCat input:last-of-type{
    margin-top: 1rem;
    width: 50%;
    align-self: center;
}

#uploadCat label{
    font-size: 1.5rem;
}
/*
CAT FEED
*/
ul{
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
}

li{
    display: flex;
    flex-direction: row;
    margin: 3rem;
    padding: 3rem;
    border-radius: 5%;
    box-shadow: 8px 8px 16px rgba(130,152,145, 1);
}

.catImage{
    width: 40%;
    border-radius: 1rem;
}

.catContent{
    display: flex;
    flex-direction: column;
    margin: 3rem;
}

.name{
    font-size: 2.5rem;
}

.caption{
    font-size: 1rem;
}